@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 221, 255)), to(rgb(117, 215, 155)));
  background: linear-gradient(rgb(0, 221, 255), rgb(117, 215, 155));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  margin: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -webkit-box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
          box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side {
  position: relative;
  background: #ff9500;
  padding: 40px;
}

.profileText {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profileText h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.contactInfo {
  padding-top: 40px;
}

.contactInfo ul {
  position: relative;
}

.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #ffed29;
}

a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: #fff;
  font-weight: 300;
  text-decoration: underline;
}

.contactInfo.education li {
  margin-bottom: 15px;
}

.contactInfo.education h5 {
  color: #ffed29;
  font-weight: 500;
}

.contactInfo.education h4 {
  color: #fff;
  font-weight: 300;
  padding-top: 2px;
}

.contactInfo.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #ffed29;
  display: block;
  margin-top: 5px;
  border-radius: 3px;
}

.contactInfo.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #21e07d;
  border-radius: 3px;
}

.container .right_side {
  position: relative;
  background: #fff;
  padding: 40px;
}

.about {
  margin-bottom: 50px;
}

.title2 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: #333;
}

.container_feedback {
  margin-top: 50%;
  margin-left: 7.5%;
  width: 500px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 221, 255)), to(rgb(117, 215, 155)));
  background: linear-gradient(rgb(0, 221, 255), rgb(117, 215, 155));
  -webkit-box-shadow: 0 0 15px #ff6f00;
          box-shadow: 0 0 15px #ff6f00;
  border-radius: 10px;
}

form h4 {
  width: 100%;
  text-align: center;
  padding: 25px 20px;
  font-size: 25px;
  color: #fff;
  border: 5px;
}

form .id {
  width: 300px;
  position: relative;
  margin: auto;
  font-size: 20px;
  top: 50%;
}

form input {
  width: 100%;
  height: 50px;
  margin: 4px 0;
  border: 1px solid #fff;
  border-radius: 3px;
  background: #feddb5;
  padding: 0 15px;
  padding-right: 45px;
  font-size: 20px;
  color: #ff9500;
}

form textarea {
  position: relative;
  width: 60%;
  height: 150px;
  margin: 4px 0;
  margin-left: 20%;
  border: 1px solid #fff;
  border-radius: 3px;
  background: #feddb5;
  padding: 0 15px;
  padding-right: 45px;
  font-size: 20px;
  color: #ff9500;
}

form button {
  margin-left: 35%;
  margin-bottom: 5px;
  border: none;
  background: #00fff0;
  color: #003147;
  padding: 10px 0;
  width: 150px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

form button:hover {
  color: #21e07d;
}

form input:focus,
form textarea:focus {
  border: 1px solid #ff6f00;
  color: #ff6f00;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form input:focus::-webkit-input-placeholder, form textarea:focus::-webkit-input-placeholder {
  padding-left: 4px;
  color: #ff6f00;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form input:focus::-moz-placeholder, form textarea:focus::-moz-placeholder {
  padding-left: 4px;
  color: #ff6f00;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form input:focus:-ms-input-placeholder, form textarea:focus:-ms-input-placeholder {
  padding-left: 4px;
  color: #ff6f00;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form input:focus::-ms-input-placeholder, form textarea:focus::-ms-input-placeholder {
  padding-left: 4px;
  color: #ff6f00;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form input:focus::placeholder,
form textarea:focus::placeholder {
  padding-left: 4px;
  color: #ff6f00;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}